@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-satoshi: 'Satoshi', sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-figtree: "Figtree", sans-serif;
    --font-archivo: "Archivo", sans-serif;
    --color-primary: #188C99;
    --color-secondary: #274760;
    --color-highlight: #ECA30C;
    --color-headline: #171151;
    --color-button: #F2F5FA;
    --color-logo: #D9D9D9;
}